body {
  font-family: 'Fira Code', monospace;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
h1{
  font-size: 50px;
}
#section-one{
  display: flex;
  margin: 15px;
}
#section-one img{
  height: 700px;
  width: 800px;
}
#blue-color{
  color: rgb(10, 127, 142);
}
#just{
  color: #575757;
}
.skip-diet{
  margin-top: 100px;
}
#order{
  text-decoration: none;
  background-image: linear-gradient(rgb(16, 148, 160), rgb(25, 212, 237));
  padding: 10px 15px;
  border-radius: 50px;
  margin-top: 20px;
}

#section-two{
  display: flex;
  background-image: url(images/shapes/Frame\ 57.jpg);
}
.second-section{
  width: 50%;
}
.second-section img{
  margin-left: 35px;
}
#thrid-section h1 p{
  text-align: center;
}
#recipies{
  text-align: center;
}
.p-tag{
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
#forth-section{
  display: flex;
}
.recipie{
  width: 50%;
  margin: 50px;
  box-shadow: 5px 5px 5px 5px rgb(187, 187, 198);
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  border-radius: 50px;
}
.recipie img{
  width: 350px;
  height: 350px;
}
#last-section{
  display: flex;
  margin: 30px;
  justify-content: space-between;
  box-shadow: 30px 20px 30px 30px rgb(226, 221, 200);
  padding: 50px;
  border-radius: 5px;

}
footer{
  text-align: center;
  height: 300px;
  width: 100%;
  background-color: #0e0e10;
}
#eat{
  color: green;
}
#fresh{
  color:bisque
}
footer p{
  color: white;
}